{# src/Rw/BlogBundle/Resources/views/Blog/deletecomment.html.twig #}
{# supprimer un commentaire BlogBundle niveau 3 #}

{% extends "RwBlogBundle::layout.html.twig" %}

{% block title %}
	Suppression d'un commentaire - {{ parent() }}
{% endblock %}

{% block title_bundle %}
	Supprimer un commentaire. (blog niveau 3)
{% endblock %}

{% block menu %}	
<div id="menu" class="col-sm-3 col-xs-12" >
	<h3>Le menu du blog</h3>
	<ul class="nav nav-pills nav-stacked">
		{% include "RwBlogBundle:Blog:blogmenu.html.twig" %}
	</ul>
</div>
{% endblock %}

{% block body %}
<div id="content" class="col-sm-9 col-xs-12" >
	<h3>Confirmez la suppression du commentaire : </h3>
	<br />
	<div class="well">
		<p>{{ comment.content }}</p>
		</br>
		<i>Par {{ comment.author }}, le {{ comment.date|date('d/m/Y') }}</i>
	</div>	
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
		
		{# Génération du label + error + widget pour un champ #}
		{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
		{# form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) #}
		<input type="submit" class="btn btn-danger" value="Supprimez le commentaire">
		
		{# Génération automatique des champs pas encore écrits.
		Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
		et tous les champs cachés (type « hidden »). #}
		{{ form_rest(form) }}

	{# Fermeture de la balise <form> du formulaire HTML #}
	{{ form_end(form) }}
</div>	
{% endblock %}