{# src/Rw/BlogBundle/Resources/views/Blog/list.html.twig #}
{# liste des billets BlogBundle niveau 3 #}

{% extends "RwBlogBundle::layout.html.twig" %}

{% block title %}
	Liste des billets - {{ parent() }}
{% endblock %}

{% block title_bundle %}
	Liste des billets. (blog niveau 3)
{% endblock %}

{% block menu %}
<div id="menu" class="col-sm-3 col-xs-12" >	
	<h3>Le menu du blog</h3>
	<ul class="nav nav-pills nav-stacked">
		{% include "RwBlogBundle:Blog:blogmenu.html.twig" %}
	</ul>
</div>
{% endblock %}

{% block body %}	
<div id="content" class="col-sm-9 col-xs-12" >
	<h2>Liste des billets publiés ...</h2>
		<ul>
			{% for billet in billets %}
			<li>
				<a href="{{ path('rwblog_view', {'id': billet.id}) }}">{{ billet.title }}</a>
				par {{ billet.author }},
				le {{ billet.date|date('d/m/Y') }}
			</li>
			{% else %}
				<li>Pas (encore !) de billets</li>
			{% endfor %}
		</ul>
	{% if nombrePage > 1 %}		
	<div class="text-center">
		<ul class="pagination pagination-sm centered" >
			<li><a href="{{ path('rwblog_list', {'page': 1}) }}">&laquo;</a></li>
			{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
			{% for p in range(1, nombrePage) %}
			<li{% if p == page %} class="active"{% endif %}>
			  <a href="{{ path('rwblog_list', {'page': p}) }}">{{ p }}</a>
			</li>
			{% endfor %}
			<li><a href="{{ path('rwblog_list', {'page': nombrePage }) }}">&raquo;</a></li>
		</ul>
	</div>
	{% endif %}
</div>
{% endblock %}