{# src/Rw/CoreBundle/Resources/views/Core/coremenu.html.twig #}

		<li><a href="{{ path('rw_core_homepage') }}">Accueil du site</a></li>
		<li><a href="{{ path('rwblog_home') }}">Le blog</a></li>
		<li><a href="{{ path('rw_core_list') }}">Les leçons</a></li>
	{% if is_granted('ROLE_USER') %}
		<li><a href="{{ path('fos_user_profile_show') }}">Voir mon profil</a></li>
	{% endif %}
	{% if is_granted('ROLE_ADMIN') %}
		<li><a href="{{ path('rwblog_add') }}">Ajouter un billet</a></li>
		<li><a href="{{ path('rwblog_home') }}">Modifier un billet</a></li>	
		<li><a href="{{ path('rwblog_home') }}">Supprimer un billet</a></li>
		<li><a href="{{ path('rw_core_add') }}">Ajouter une leçon</a></li>
	{% endif %}